---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  {% if page.subtitle %} <span class="post-subtitle">{{ page.subtitle }}</span> {% endif %}
  {% if page.enable_latex == true %}
  <script defer type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script>
  <script defer type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [ ['$','$'], ["\\(","\\)"] ],
        processEscapes: true
      }
    });
  </script>
  <script defer src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  {{ content }}
</div>

{% include related_posts.html %}